/* Fonts */
@font-face {
    font-family: 'brizelregular';
    src: url('./fonts/brizel-webfont.woff2') format('woff2'),
         url('./fonts/brizel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyaregular';
    src: url('./fonts/alegreya-regular-webfont.woff2') format('woff2'),
         url('./fonts/alegreya-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyabold';
    src: url('./fonts/alegreya-bold-webfont.woff2') format('woff2'),
         url('./fonts/alegreya-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyaitalic';
    src: url('./fonts/alegreya-italic-webfont.woff2') format('woff2'),
         url('./fonts/alegreya-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* CSS default reset */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

/* ------------------ */

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;

    height: 100vh;
    font-family: 'alegreyaregular', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.image-sidebar {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url(./img/peacock-bg.jpg);
    background-size: cover;
}

.logo, .attributions {
    background-color: rgb(0, 0, 0, 0.5);   
}

.logo {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 15px;
    padding: 15px 0;
}

.logo h1 {
    color: #06f602;
    font-size: 95px;
    font-family:'brizelregular', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.logo img {
    width: 70px;
}

.attributions {
    color: #03e001;
    padding: 10px 5px;
}

.attributions a {
    color:#06f602;
    font-style: italic;
}

/* ---------------------------------------- */

.form-section {
    background: linear-gradient(#16b511, #03e001, #0492e9, #03cdd8, #eabbd2);
}

.form-section p, h2 {
    font-size: 20px;
    font-family: 'alegreyabold', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.message-section {
    /*padding: 110px 50px 50px;*/
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
}

.message-section p:last-child {
    margin-top: 15px;
}

.form-section {
    /*padding: 30px 50px 0;*/
}

.signup-form {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;*/

    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 20px 50px;
    margin: 20px 0;
}

.form-input {
    display: grid;
    row-gap: 3px;
}

.form-input:last-of-type {
    grid-column: 1 / -1;
    justify-self: start;
    grid-template-columns: auto 1fr;
    column-gap: 8px;
}

label, button {
    font-family: 'alegreyabold', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

label {
    font-size: 14px;
    letter-spacing: 0.1em;
}

input, select {
    width: 250px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #E5E7EB;

    font-size: 16px;
    font-family: inherit;
}

input[type="checkbox"] {
    width: auto;
}

input:focus {
    border: 1px solid #0000ff;
    background-color: rgb(229, 229, 229);
    box-shadow: 5px 5px 4px #0c4eac;
}

input[type="checkbox"]:focus {
    box-shadow: none;
}

input:invalid {
    border: 1px solid #ff0000;
}

button {
    border: none;
    border-radius: 5px;
    padding: 15px 50px;
    font-size: 16px;
    background-color: #06f602;
    box-shadow: 4px 4px 2px #0c5102;
    cursor: pointer;
}

button:enabled:hover {
    background-color: #16b511;
}

button:enabled:active {
    transform: translate(2px, 2px);
}

.error-msg {
    margin-top: -10px;
    color: #ffffff;
    font-family: 'alegreyaitalic', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}












